<div class="d-inline-block">
    @if (['jpeg', 'jpg', 'png'].includes(attachments[displayedImageIndex].file_type)) {
        <img 
            class="img-fluid displayed-image" 
            [src]="attachments[displayedImageIndex].file_path" 
            (mousedown)="displayNextAttachment()">
    }
    @if (['mp4'].includes(attachments[displayedImageIndex].file_type)) {
        <video  width="100%" 
                controls
                (mousedown)="displayNextAttachment()"
                class="mt-2 displayed-video">
            <source [src]="attachments[displayedImageIndex].file_path" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    }
</div>