<div class="container">
    <div class="row mt-5" style="border: solid 1px; border-bottom: solid 2px;">
        <div class="col-2 d-flex justify-content-center">
            <img class="" height="100px" width="100px" [src]="displayed_profile['profile_picture_path']">
        </div>
        <div class="col mt-3">
            <div class="row"><h1>{{displayed_profile['user_name']}}</h1></div>
            <div class="row"><h6>{{displayed_profile['location']}}</h6></div>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
            <button class="btn-lg btn btn-success">Message</button>
        </div>
    </div>
    <div class="row mt-2" style="border: solid 1px">
        <div class="col d-flex justify-content-center">Posts</div>
        <div class="col d-flex justify-content-center">Equipements</div>
        <div class="col d-flex justify-content-center">Courses</div>
    </div>
    <div class="row" style="border: solid 1px">
        <div class="col d-flex justify-content-center">21</div>
        <div class="col d-flex justify-content-center">0</div>
        <div class="col d-flex justify-content-center">1</div>
    </div>
    <div class="row mt-2" style="border: solid 1px;">
        <div class="col">
            <h3 class="mt-2">About me</h3>
            <p>
            </p>
        </div>
    </div>
</div>