<script src="animate.js"></script>

        <div class="offset-3 col-6">
            @if (isLoading) {
                <div class="loading">Loading Posts</div>
            }
            @else if (error) {
                <div class="error">{{error}}</div>
                <button (click)="loadPosts()">Retry</button>
            }
            @else {
                
                @for(post of posts; track post.id) {
                    <app-post-display [post]="post"></app-post-display>
                } 
                
                @empty {
                    <div class="empty">No posts available</div>
                }
                
            }
        </div>