<div class="container scroll-container">
    <div class="row">
        <div class="col">
            @if (isLoading) {
                <div class="loading">Loading Equipment</div>
            }
            @else if (error) {
                <div class="error">{{error}}</div>
                <button >Retry</button>
            }

            @else {
                @for(equipment of equipments; track equipment) {
                    <app-equipment-display [equipment]="equipment"></app-equipment-display>
                } 
                @empty {
                    <div class="empty">No Equipment available</div>
                }

            }
        </div>
    </div>
</div>

        