
<div class="container-fluid h-100 body">
  <div class="row h-100">

    <!-- Chat Area (col-8) -->
    <div class="col-9 d-flex flex-column border-end">
      
      <!-- Messages List -->
      <div #messageContainer class="flex-grow-1 overflow-auto p-3 mt-3 d-flex flex-column gap-3 glass">
        @for (msg of messages; track msg){
          @if (this.loggedInUserId == msg.senderid) {
            <div class="align-self-start bg-primary text-white rounded px-3 py-2" style="font-size: large;">{{msg.content}}</div>
          }
          @else {
            <div class="align-self-end bg-light rounded px-3 py-2 " style="font-size: large;">{{msg.content}}</div>
          }
        }
      </div>

      <!-- Input Bar -->
      <div class="d-flex border-top p-2 mt-3 mb-3 glass">
        <input type="text" class="form-control form-control-lg me-2" placeholder="type message here" [(ngModel)]="message">
        <button class="btn btn-primary" (click)="send()">Send</button>
      </div>
    </div>

    <!-- Profile Sidebar (col-4) -->
    <div class="col-3 mt-3">
      <div class="glass d-flex flex-column align-items-center p-5">
        <img #otherpfp class="rounded-circle mb-3" style="width: 120px; height: 120px;">
        <h1 class="mb-3">John_doe</h1>
        <button class="btn btn-dark" (click)="onProfileButtonClick()">Profile</button>
      </div>
    </div>

  </div>
</div>
