

.btn-select {
    border-radius: 0%;
    background-color: rgba(0, 0, 0, 0.05);
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.btn-select:hover {
    background-color: lightblue;
}