<div class="body">
    <div class="container">


        <div class="row glass">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h1 class="alert border-bottom">My Courses</h1>
                </div>
            </div>
            @for (course of myCourses; track course) {
                <div class="row d-flex">
                        <div class="col">
                            <h1>{{course.title}}</h1>
                        </div>
                        <div class="col-auto">
                            <button (click)="viewCourse(course.courseId)" class="btn btn-primary btn-lg mx-1">
                                View
                            </button>
                        </div>
                </div>
            }
        </div>
    
    
    
    
    
        <div class="row glass mt-5">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h1 class="alert border-bottom">My Subscriptions</h1>
                </div>
            </div>
            @for (subscription of subscriptions; track subscription) {
                <div class="row d-flex">
                        <div class="col">
                            <h1>{{subscription.title}}</h1>
                        </div>
                        <div class="col-auto">
                            <button (click)="removeSubscription(subscription.courseId)" class="btn btn-danger btn-lg mx-1">
                                Unsubscribe
                            </button>
                            <button (click)="viewCourse(subscription.courseId)" class="btn btn-primary btn-lg mx-1">
                                View
                            </button>
                        </div>
                </div>
            }
        </div>
    </div>
</div>
