/* You can add global styles to this file, and also import other style files */

* {
  font-family: monospace;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
  
::-webkit-scrollbar-track {
  background: transparent;
}
  
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.cdk-overlay-container {
  z-index: 1100 !important; 
}